 .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
   
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-radius: 10px;
  max-height: 900px;
}
.img{
  max-height:400px;
  max-width: 1000px;
}

.card-heading{
  font-size: 30px;
  font-weight: 600;
  padding:10px;

}
.card-desc{
  padding:5px;
  font-size:20px;
}